body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(15, 15, 15);
}

.none {
    display: none !important;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title {
    margin: 28px 0 14px 0;
    text-align: center;
    letter-spacing: 1.4px;
    color: rgb(0, 160, 253);
    font-size: 18px;
}

#sub-title {
    margin-top: 0;
    margin-bottom: 34px;
    font-size: 13px;
    color: rgb(41, 41, 41);
    text-align: center;
    line-height: 1.5;
}

#credits {
    margin-top: 0;
    font-size: 13px;
    color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 1.5px;
}

.link {
    color: rgb(0, 160, 253);
    text-decoration: none;
    font-weight: bold;
}
.link:hover {
    text-decoration: underline;
}

#images-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    
    width: 948px;
}

.image-component {
    width: 300px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid gainsboro;
}

.image-component .image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    min-height: 170px;
    max-height: 170px;
    background-color: #f7f7f7;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}

.image-component .x-dimension {
    font-size: 10px;
    color: #9f9f9f;
}

.image-component .meta-box {
    padding: 12px;
}

.image-component .meta-box .title {
    margin: 0;
}

.image-component .meta-box .title a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.0;
    letter-spacing: 0.4px;
    color: rgb(0, 160, 253);
}

.image-component .meta {
    margin: 6px 0;
    font-size: 13px;
    color: rgb(90, 90, 90);
}

.image-component .photographer-name {
    font-weight: bold;
    color: cornflowerblue;
    text-decoration: none;
}

#fetch-box {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

#fetch-box .icon {
    width: 30px;
    height: 30px;
    fill: #059B7D;
    margin-left: 4px;
}

#fetch-box .loading-circle-container {
    position: relative;
    width: 30px;
    height: 4px;
}

#fetch-box  .loading-circle {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #059B7D;
}

#fetch-box .text {
    font-size: 13px;
    color: rgb(41, 41, 41);
}

.animate-loading-circle {
    animation: circle-balancing 1.5s linear infinite;
    -webkit-animation: circle-balancing 1.5s linear infinite;
}

@keyframes circle-balancing {
    0% {
        width: 4px;
        border-radius: 50%;
        left: 0;
        right: auto;
    }

    25% {
        width: 30px;
        border-radius: 25px;
    }

    50% {
        right: 0;
        left: auto;
        width: 4px;
        border-radius: 50%;
    }

    75% {
        width: 30px;
        border-radius: 25px;
    }
    
    100% {
        left: 0;
        right: auto;
        width: 4px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 900px) {
    #images-box {
        width: calc(100% - 8px);
    }

    .image-component {
        width: calc(50% - 8px);
    }
}

@media screen and (max-width: 600px) {
    .image-component {
        width: 100%;
    }

    .image-container {
        height: 190px !important;
        min-height: 190px !important;
        max-height: 190px !important;
    }

    #title, #credits, #sub-title {
        padding: 0 12px;
    }
}